<nav class="site-nav" aria-label="Contents">
  <ul class="nav-list">
    {%- for item in site.data.nav %}
    <li class="nav-item">
      {%- if item.url %}
      <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {%- else %}
      <span class="nav-group">{{ item.title }}</span>
      {%- endif %}
      {%- if item.children %}
      <ul class="nav-children">
        {%- for child in item.children %}
        <li><a href="{{ child.url | relative_url }}">{{ child.title }}</a></li>
        {%- endfor %}
      </ul>
      {%- endif %}
    </li>
    {%- endfor %}
  </ul>
</nav>
